ion-menu-button {
  margin-left: 10px;
}

.filter {
  margin-right: 10px;
}

.search {
  margin-bottom: 20px;

  ion-item {
      border-radius: 10px;
      box-shadow: 0px 13px 30px 0px rgba(0, 0, 0, 0.09);
      padding: 8px;

      ion-icon {
          margin-right: 16px;
      }

      ion-input {
          padding-left: 10px !important;
          border-left: 1px solid #F4F4F4;
      }
  }
}

.title {
  margin: 20px 0px 0px 20px;
}

ion-slide:focus {
  outline: none !important;
}

ion-col:focus {
  outline: none !important;
}
