<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../assets/menu_bar.svg" />
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      <ion-button class="filter">
        <ion-icon name="funnel-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Cadastro de produtos</h1>

  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="product.name" placeholder="Nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="product.description" placeholder="Descrição"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="product.picture" placeholder="Foto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="product.price" placeholder="Preço"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="saveProduct()" expand="block">
      Salvar produto
    </ion-button>
  </ion-toolbar>
</ion-footer>
