.backbtn {
  margin-left: 15px;
}

.notification {
  margin-right: 15px;
}

ion-content {
  --padding-top: 16px;
  --padding-bottom: 16px;
  --padding-start: 26px;
  --padding-end: 26px;
}

.item-name {
  color: #2a2a2a;
}

.price {
  color: var(--ion-color-primary);

  span {
      color: #2a2a2a;
      text-decoration: line-through;
      margin-left: 20px;
      font-size: medium;
      vertical-align: top;
  }
}

.seperator {
  hr {
      position: absolute;
      left: 0;
      width: 100%;
      background: #e2e2e2;
  }
}

.review {
  margin-top: 16px;
  color: #2a2a2a;

  .rating {
      display: inline-block;
      color: #ffffff;
      background: var(--ion-color-primary);
      padding: 10px;
      border-radius: 5px;
      margin-right: 10px;
  }

  .count {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: var(--ion-color-primary);
  }
}
